body{
    background-color: black;
    right: 200px;
    left: 200px;
}

button {
    
    cursor: pointer;
    display: inline-block;
    background: rgb(241, 245, 255);
    color: rgb(55, 87, 213);
    font-size: 12px;
    border: 0;
    padding: 0.5rem 1.5rem;
    font-weight: bolder;
}
  
button:focus {
    outline: none;
}
  
button:hover {
    background: rgb(51  , 83, 209);
    color: white;
    transform: scale(0.98);
}


.cont{
    background-color: white;
    right: 15%; 
    left: 15%;
    /*left: 250px;
    right: 250px;*/
    /*width: 70%;*/
    position: absolute;
    height: 2900px;    
}

.title{
    color: rgb(55, 87, 213);
    font-size:x-large;
    font-weight:bold;
    top: 15px;
    position: absolute;
    left: 100px;
}

.menu{
    top: 20px;
    right: 3%;
    position:absolute;    
}

.menuElement{
    color: rgb(109, 123, 147);
    border: 10px solid white;
}

.menuElement:hover{
    background-color: rgb(55, 87, 213);
    color: white; 
    border: 10px solid rgb(55, 87, 213);   
    border-width: 10px 20px;
    transform: scale(0.98);
}

.menuElement:focus {
    outline: none;
  }

.select{
    background-color: rgb(55, 87, 213);
    color: white; 
    border: 10px solid rgb(55, 87, 213);   
    border-width: 10px 20px; 
}

.select:hover{
    transform: scale(0.98);
}

.select:focus {
    outline: none;
  }

.fight{
    width: 30%;
    left: 100px;
    position:absolute;    
    top: 120px;
    border: 10px;
}

.fight1{
    color: rgb(31, 62, 114);
    font-size: 40px;
    font-weight: 900;
}

.fight2{
    color : rgb(109, 123, 147);
    font-size: 15px;
}

.fight3{
    color : rgb(45, 74, 123);
    font-size: 11px;
    font-weight: bold;
}

.fight3:hover{
    box-shadow: -11px 16px 20px 0px grey;
}

.fightIcon{
    width: 25px;
    height: 30px;
    top: 13px;
    position: relative;
    border: 3px solid transparent;
}

.imagenEnfermera{
    width: 45%;
    right: 0px;
    position: absolute;
    top: 50px;
    max-width: 530px;
}

.schedule{
    width: 84%;
    left: 100px;
    position:absolute;    
    top: 450px;
    border: 10px;
    color: rgb(31, 62, 114);
    font-size: 20px;
    font-weight: 700;
    z-index: 1;
}

.schedule .content{
    /* content: ""; */
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    display: -webkit-inline-box;
    clear: both;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: -11px 16px 20px 0px grey;
}

.schedule .sect{
    width: 25%;
    float: left;
    padding: 10px;
    /* height: 300px;*/
}

.schedule .title{
    width: 66%;
    left: 100px;
    position:absolute;    
    top: 500px;
    border: 10px;
    color: rgb(31, 62, 114);
    font-size: 20px;
    font-weight: 700;
}

.schedule .head{
   color: rgb(109, 123, 147);
   top: 550px;
   font-size: 16px;
   font-weight: 600;
}

.schedule .info{
    color: rgb(31 , 62, 114);
    /*top: 550px;*/
    font-size: 16px;
    font-weight: 600;
    left: 35px;
    position: relative;
 }

.scheduleIcon{
    width: 25px;
    height: 25px;
    top: 10px;
    position: relative;
    border: 3px solid transparent;
}

.scheduleButton{
    position: absolute;
    right: 3%;
    top: 60%;
    font-size: 18px;
    font-weight: 100;
}

.vaccines{
    top: 800px;
    position: absolute;
    left: 100px;
    width: 80%;
    /* z-index: -1;*/
}

.why{
    width: 30%;
    left: 100px;
    position: absolute;
    top: 900px;
    /* border: 10px;*/
}

.whyTitle{
    color: rgb(31, 62, 114);
    font-size: 25px;
    font-weight: 900;
}

.whyContent{
    color : rgb(109, 123, 147);
    font-size: 15px;
}

.whySection{
    top: 1050px;
    left: 100px;
    position: absolute;
    width: 80%;
    display: -webkit-inline-box;
    clear: both;
    box-sizing: border-box;
    /*padding: 10px;*/
    z-index: 1;
    
}

.whyTarjet{
    padding: 6px;
    color: rgb(109, 123, 147);
    font-size: 15px;
    width: 20%;
    float: left;
    margin: 6px;
    /* box-shadow: -11px 16px 20px 0px grey; */
    border-color: rgba(250,250,255, 0.13);
    border-style: groove;
    border-radius: 10px;
}

.whyTarjet:hover{
    box-shadow: -11px 16px 20px 0px grey;
}

.whyTarjetTitle{
    color : rgb(31 , 62, 114);
    font-size: 16px;
}

.whyTarjetContent{
    color : rgb(109, 123, 147);
    font-size: 13px;
}

.woman{
    position: absolute;
    top: 1240px;
    width: 45%;
    /*width: 600px;*/
    max-width: 530px;
}

.womanImg{
    width: 100%; /* or any custom size */
    height: 100%; 
    object-fit: contain;
}

.preparations{
    width: 30%;
    right: 100px;
    position: absolute;
    top: 1300px;
    /* border: 10px;*/
}

.preparationsTitle{
    color: rgb(31, 62, 114);
    font-size: 25px;
    font-weight: 900;
}

.preparationsContent{
    color : rgb(109, 123, 147);
    font-size: 15px;
}

.preparationsSection{
    top: 1474px;
    right: 100px;
    position: absolute;
    width: 30%;
    display: table;
    clear: both;
    box-sizing: border-box;
    padding: 10px;
    z-index: 1;    
}

.preparationsTarjet{
    padding: 6px;
    color: rgb(109, 123, 147);
    font-size: 15px;
    width: 100%;
    float: left;
    margin: 6px;
    /* box-shadow: -11px 16px 20px 0px grey; */
    border-color: rgba(250,250,255, 0.13);
    border-style: groove;
    border-radius: 10px;
}

.preparationsTarjet:hover{
    box-shadow: -11px 16px 20px 0px grey;
}

.preparationsTarjetTitle{
    color : rgb(31 , 62, 114);
    font-size: 16px;
}

.preparationsTarjetContent{
    color : rgb(109, 123, 147);
    font-size: 13px;
}

.doctor{
    position: absolute;
    top: 1964px;
    width: 45%;    
    right: 0px;
    max-width: 530px;

}

.doctorImg{
    width: 100%; /* or any custom size */
    height: 100%; 
    object-fit: contain;
}

.emergency{
    width: 30%;
    left: 100px;
    position: absolute;
    top: 2063px;;
    /* border: 10px;*/
}

.emergencyTitle{
    color: rgb(31, 62, 114);
    font-size: 25px;
    font-weight: 900;
}

.emergencyContent{
    color : rgb(109, 123, 147);
    font-size: 15px;
}

.emergencySection{
    top: 2247px;
    left: 100px;
    position: absolute;
    width: 40%;
    /* display: inline-table; */
    /* clear: both; */
    /* box-sizing: border-box; */
    z-index: 1;
    /* padding: 10px; */
    max-width: 456px;
    
}

.emergencyTarjet{
    padding: 6px;
    color: rgb(109, 123, 147);
    font-size: 15px;
    width: 40%;
    float: left;
    margin: 6px;
    /* box-shadow: -11px 16px 20px 0px grey; */
    border-color: rgba(250,250,255, 0.13);
    border-style: groove;
    border-radius: 10px;
}

.emergencyTarjet:hover{
    box-shadow: -11px 16px 20px 0px grey;
}

.emergencyTarjetTitle{
    color : rgb(31 , 62, 114);
    font-size: 16px;
}

.emergencyTarjetContent{
    color : rgb(109, 123, 147);
    font-size: 13px;
}

.foot{
    background-color: rgb(238, 243, 255);
    top: 2786px;
    position: absolute;
    width: 100%;
    height: 250px;
}

.footTitle{
    color: rgb(55, 87, 213);
    font-size: 25px;
    font-weight: 900;
}

.footContent{
    color : rgb(109, 123, 147);
    font-size: 15px;
}

.footSection{
    top: 2330px;
    left: 100px;
    position: absolute;
    width: 40%;
    display: block;
    clear: both;
    box-sizing: border-box;
    /* padding: 10px;*/
    
}

.footTarjet{
    padding: 6px;
    color: rgb(109, 123, 147);
    font-size: 12px;
    float: right;
    margin: 30px 1% 0px 1%;
    width: auto;
    /*
    box-shadow: -11px 16px 20px 0px grey; 
    border-color: rgba(250,250,255, 0.13);
    border-style: groove;
    border-radius: 10px;*/
}

.first{
    width: 20%;
    margin: 30px 15% 0px 100px;
    float: left;
}

.footTarjetTitle{
    color: rgb(31, 62, 114);
    font-size: 16px;
    font-weight: bolder;
}

.footTarjetContent{
    color : rgb(109, 123, 147);
    font-size: 12px;
}

.footLeft{
    border: 0px;
    position : absolute;
    left: 100px;
    bottom: 30px;
}

.footRight{
    border: 0px;
    position : absolute;
    right: 100px;
    bottom: 30px;
}